[Unit]
Description=Periodically check ShopOS CPU temperature

[Timer]
OnBootSec=3min
OnUnitActiveSec=2min
AccuracySec=30s
Persistent=false

[Install]
WantedBy=timers.target
